* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ==== HEADER STYLES ==== */
header {
    height: auto;
    text-align: center;
    background-color: #FFFFFF;
    border-bottom: 2px solid #3a3ac9;
    padding-bottom: 0.5em;    
}
.logo {
    display: inline-block;
    width: auto;
    height: 12%;
    margin: 3% 0 1% 0; /*?????????????????????*/
}
#green {
  color: rgb(129,175,136);
  font-size: 2em;
  font-weight: 900;
  line-height: 0.8em;
  display: inline-block;
  padding-top: 0.5rem;
}
#blue {
  color: rgb(97,154,255);
  font-size: 2em;
  font-weight: 900;
  line-height: 0.8em;
  display: inline-block;
}
nav {
    display: flex;
    margin-top: 3%;
    padding: 1%;
    float: left;
    z-index: -1;
    font-size: 1rem;
}
i {
    color: rgb(129,175,136); 

}

/* ==== LEFT SIDENAV STYLES ==== */

/* The side navigation menu */
h3 {
  color: #FFFFFF;
  padding: 8px 8px 8px 16px;
  font-size: 30px;
  display: inline-block;

}
.sidenav {
    height: auto;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    /* top: 0;  */
    left: 0;
    background-color: #111; /* Black*/
    opacity: 0.65;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto;
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: inline-block;
    z-index: 999;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #72ddbf;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 2.5rem;
    padding: 0;
    margin-right: 4vw;
    margin-bottom: 2vh;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: .5s;
    padding: 20px;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

  /* ==== RIGHT SIDENAV STYLES ==== */

  .sidenav-right {
    height: auto; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    /* top: 0;  */
    right: 0;
    background-color: #111; 
    opacity: 0.65;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: inline-block;
    z-index: 1;
  }
.sidenav-right p {
  font-size: 24px;
  color: white;
}

.sidenav-right .closebtn {
  position: absolute;
  top: 0.5vh;
  left: 5vw;
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

  /*==== DROP ==== */
.dropdown-content {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #FFFFFF;
  display: none;
  transition: 0.3s;
}

.services {
  display: none;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #FFFFFF;
  transition: 0.3s;
}

.show {
  display: block;
  margin-left: 0.7em;
  max-width: auto;
}

input {
  display: flex;
  float: right;
  margin-top: .5rem;
  background-color: #72ddbf
}
#selective {
  display: inline-block;
}
.informationContent {
  display: none;
  font-size: 1.2rem;
  transition: 0.3s;
  text-decoration: none;
}

.showInformation {
  display: inline-block;
  width: 60%;
  height: 60vh;
  margin: auto;
  background-color: grey;
}

/* ==== MAP STYLES ===== */

#map {
  margin: auto;
  height: 99.7vh; 
  width: 100%;
  font-size: 15pt;
  bottom: 0px;

}